.pantalla-inicial {
  text-align: center;
}

.pantalla-inicial h2 {
  margin-block: 0;
}

.pantalla-inicial p {
  line-height: 1.5;
}

.pantalla-inicial button {
  width: 200px;
  padding-block: 10px;
  border-radius: 60px;
  background: #2a8454;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pantalla-inicial button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px #00000042;
}