@font-face {
  font-family: 'Gitaluevo';
  src: url('../../../assets/fonts/Gitaluevo.ttf');
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.header__image {
  width: 100%;
  height: 60vh;
}

.header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: brightness(40%);
  user-select: none;
}

.header__info {
  width: 55vw;
  padding: 40px 5vw;
  transform: translateY(-100px);
  border-radius: 50px 50px 0 0;
  text-align: center;
  box-shadow: 0 -200px 20px #0000002c;
  position: relative;
  background: #fff;
}

.header__info::before {
  content: "Guardianes en Acción";
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  font-weight: 900;
  font-size: calc(2rem + 4vw);
  width: max-content;
  color: #ffffff;
}

h1 {
  width: 100%;
  font-family: 'Gitaluevo', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  left: 0;
  font-weight: 900;
  margin: 0;
  font-size: calc(2rem + 2vw);
  color: #34945f;
}

.header__info > p {
  line-height: 1.5;
  font-size: 1.25rem;
  max-width: 90%;
  margin-inline: auto;
}


/* Objetivos */
section.objetivos {
  width: calc(100% - 6vw);
  padding-inline: 3vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  box-shadow: 0 5px 5px #0000002c;
}

.objetivos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 30px;
  padding-bottom: 10vh;
}

.objetivo {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 20px 20px 20px;
  position: relative;
  border-top: 3px solid #34945f;
}

.objetivo .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  font-size: 32px;
  padding: 10px;
  background: #34945f;
  color: #f0f0f0;
}

.objetivo .icon ion-icon {
  --ionicon-stroke-width: 50;
}

.objetivo h3 {
  margin-block: 0;
  font-size: 1.25rem;
}

.objetivo p {
  line-height: 1.4;
}

.objetivo .separador {
  position: absolute;
  right: -15px;
  width: 2px;
  height: 50%;
  background: #dddddd;
}