section.conceptos {
  width: 100%;
}

.conceptos .slider {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider__item {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slider__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  box-shadow: 0 -100px 200px 0px rgba(0, 0, 0, 0.492) inset;
}

.slider__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  pointer-events: none;
  user-select: none;
}

.slider-info {
  width: calc(100% - 100px);
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 10px;
  padding: 50px;
  z-index: 5;
}

.slider__item h3 {
  font-size: calc(2rem + 1vw);
  color: #fff;
  margin-block: 0 10px;
  transition-delay: .2s;
}

.slider__item p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  transition-delay: .5s;
  line-height: 1.4;
}

.slider__item h3,
.slider__item p {
  opacity: 0;
  transform: translateX(50px);
  transition: .5s ease;
}

.slider__item.--active img {
  animation: zoom 10s linear forwards;
}


@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

/* Slider active */

.slider__item.--active {
  opacity: 1;
  pointer-events: all;
  transition-delay: .1s;
}

.slider__item.--active h3,
.slider__item.--active p {
  opacity: 1;
  transform: translateX(0);
  transition-delay: .2s;
}

.slider__item.--active h3 {
  transition-delay: .4s;
}

.slider__item.--active p {
  transition-delay: 1s;
}


/* Slider-indicators */

.slider-indicators {
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-indicators span {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: .3s ease;
}

.slider-indicators span.--active {
  width: 25px;
  background: #fff;
  pointer-events: none;
}

/* Slider controls */
button.slider-control {
  width: 50px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: 50px;
  font-size: 32px;
  color: #378d5e;
  display: flex;
  align-items: center;
  z-index: 100;
}


.slider-control ion-icon {
  --ionicon-stroke-width: 50;
  position: absolute;
}

.prev-control {
  left: 0;
  border-radius: 0 50px 50px 0;
}

.prev-control ion-icon {
  right: 15px;
}

.next-control {
  right: 0;
  border-radius: 50px 0 0 50px;
}

.next-control ion-icon {
  left: 15px;
}