.pregunta h2 {
  text-align: center;
  margin-block: 0 30px;
  min-height: 60px;
  display: flex;
}

.pregunta ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.pregunta ul li {
  width: calc(100% - 40px);
  padding: 15px 20px;
  border-radius: 8px;
  background: #a2a2a242;
  cursor: pointer;
  font-weight: 500;
  transition: .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pregunta ul li:hover {
  background: #a2a2a27c;
}

.pregunta li.seleccionado {
  background: #a4fffd;
  color: #16566e;
}

.deshabilitado {
  pointer-events: none;
}