nav {
  width: calc(100% - 6vw);
  height: 80px;
  padding-inline: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

nav::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 80px;
  background: #1f1f1fdc;
  backdrop-filter: blur(5px);
  transform: translateY(-100%);
  transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.--scrolled::before {
  transform: translateY(0);
}

nav > img {
  height: 80%;
  object-fit: contain;
  z-index: 3;
  user-select: none;
}

.nav__right {
  display: flex;
  height: 100%;
  gap: calc(15px + 1vw);
  align-items: center;
}

.nav__right a {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.nav__right a:not(.link-button)::before {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: #348056;
  transform: translateX(-110%);
  transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav__right a:hover::before {
  transform: translateX(0);
}

.link-button {
  padding: 10px 20px !important;
  height: max-content !important;
  border-radius: 60px;
  background: #2d774e;
  color: #fff;
  font-weight: 500;
  transition: .3s ease;
  z-index: 3;
}

.link-button:hover {
  background: #34945f;
}