* {
    background-color: #ACCC78;
}

.btnInicio {
    position: absolute;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
}

p {
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
}

.divImg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.divImg img {
    width: 100%;
    border-radius: 10px;
}

.divImg img:hover {
    width: 105%;
    border: 3px solid green;
}