html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  background: #eee;
}

button,
a,
input,
textarea {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

section>h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}